@import 'tailwindcss';
@import 'tailwindcss/utilities';

:root {
  --background: 255 255 255; /* #ffffff */
  --foreground: 23 23 23; /* #171717 */

  --reload-primary: 255 229 0; /* #FFE500 */
  --reload-secondary: 253 249 240; /* #fdf9f0 */

  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-reload-primary: var(--reload-primary);
  --color-reload-secondary: var(--reload-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: 10 10 10;
    --foreground: 237 237 237;

    --reload-primary: 255 230 0;
    --reload-secondary: 60 60 50;
  } */
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-sans), sans-serif;

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
}

html {
  font-size: 32px;
}

@layer utilities {
  .bg-reload-primary {
    background-color: rgb(var(--reload-primary));
  }

  .bg-reload-secondary {
    background-color: rgb(var(--reload-secondary));
  }

  .text-reload-primary {
    color: rgb(var(--reload-primary));
  }

  .text-reload-secondary {
    color: rgb(var(--reload-secondary));
  }

  .font-mono {
    font-family: var(--font-space-mono), monospace;
  }

  .font-grotesk {
    font-family: var(--font-space-grotesk), sans-serif;
  }
}
